header {
    background-color: #605C80;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}
.logo{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

header a {
    text-decoration: none;
    color: white;
}


