Table {
    font-size: 16px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #393939;
    width: 100%;
    max-width: 100%;
}

Table td, #table th {
    border: 1px solid #393939;
    padding: 8px;
}

Table tr:nth-child(even){background-color: #f2f2f2;}

Table tr:hover {background-color: #ddd;}

Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #9A93CC;
    color: #262626;
}

.middle {
    margin-bottom: auto;
    margin-top: auto;
}
.middle p{
    text-align: center;
}


.tabla{
    margin: 100px;
}

button {
    border: 1px solid #605C80;
    background: #9A93CC;
    border-radius: 8px;
    color: black;
    height: 25px;
    width: 70px;
    cursor: pointer;
    font-size: 16px;
}

.imgGo{
    height: 16px;
}

.Cell {
    border: 1px solid #262626;
    text-align: center;
}